.mat-card-header{
    padding:5px !important;
}

.mat-card{
    background-color:rgba(0, 132, 255, 0.185) !important;
    padding:5 !important;
    justify-content: space-evenly;
    align-items: center; 
    align-content: center;
}

.mat-card-content{
    padding:5px !important;
}

