<div>
    <mat-form-field class="form-input-field" (ngSubmit)="getCurrentWeather(searchInput.value)">
        <input matInput type="text" placeholder="Search by city" #searchInput>
        <button mat-button type="submit" matSuffix aria-label="Search" (click)="getCurrentWeather(searchInput.value)" [disabled]="searchInput.value == ''">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>
<div *ngIf="storageNotEmpty">
    
    <div style="text-align:center">
        <mat-card class="outer-card">
            <mat-card-title>
                <p style="font-size: 140%; text-align:left"> {{city}}</p>
            </mat-card-title>
            <mat-card-subtitle>
                <p style="text-align:left">{{weatherData["sys"]["country"]}}</p>
            </mat-card-subtitle>
            <mat-card-content>
                <p>{{toUpper(weatherData["weather"][0]["description"])}}</p>
                <img mat-card-md-image src={{environment.getIconUrl(weatherData)}}>
                <p>Temperature: {{math.round(weatherData["main"]["temp"])}}°C</p>
                <p>Feels like: {{math.round(weatherData["main"]["feels_like"])}}°C</p>
                <p>Humidity: {{weatherData["main"]["humidity"]}}%</p>
                <p>Wind: {{weatherData["wind"]["speed"]}} m/s</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="text-align:right">
        <p>Last updated: {{timestamp}}</p>
    </div>

</div>

