
.form-input-field {
    width: 40%;
    padding: 12px 20px;

}

.outer-card {
    background-color:rgba(30, 255, 0, 0.288); 
    border-radius: 0px;
    padding: 0.7cm;
    padding-left: 1.5cm;
    padding-right: 1.5cm;
}

.inner-grid {
    background-color:rgba(0, 255, 213, 0);
    width: 50%;
    align-content: left;
}
